In [9]:
from openpyxl import Workbook
from openpyxl.worksheet.worksheet import Worksheet

In [28]:
wb = Workbook()

In [29]:
ws: Worksheet = wb['Sheet']

In [30]:
ws.title = "Uprawy"

In [31]:
headers = ["Name", "Age", "City"]
ws.append(headers)

In [32]:
rows = [
    ["Alice", 342342340, "New York"],
    ["Bob", 22434245, "London"],
    ["Charlie", 3523423423423, "Paris"]
]

for row in rows:
    ws.append(row)

In [33]:
wb.save("test.xlsx")